<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Degree:</strong>
  <%= @map_node.degree %>
</p> -->

<p>
  <strong>Title:</strong>
  <%= @map_node.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @map_node.content %>
</p>

<!-- <p>
  <strong>Rating:</strong>
  <%= @map_node.rating %>
</p> -->

<!-- <p>
  <strong>Audio path:</strong>
  <%= @map_node.audio_path %>
</p> -->

<!-- <p>
  <strong>Path:</strong>
  <%= @map_node.path %>
</p> -->

<%= link_to 'Edit', edit_map_node_path(@map_node) %> |
<%= link_to 'Back', map_nodes_path %>
